html {
    text-align: center;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.err1 {
    color: red;
}

.err2 {
    color: red;
}

.err2 {
    color: red;
}